body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: pink;
    text-align: center;
}
table {
    border: 1px solid black;
    background-color: rgb(61, 41, 44);
    color: black;
    margin: auto;
    padding: 2px;
    border:2px
}
th, td {
    border: 1px solid black;
    background-color: aliceblue;
    margin: auto;
    padding: 2px;
    border:2px

}
a {
  color:  blueviolet ;  
}
footer {
    text-align: center;
}